<h1 class="page-title">{{title}}</h1>
<ol class="breadcrumb ng-scope">
    <li>首页</li>
    <li><a ui-sref="app.manage">系统管理员</a></li>
    <li class="active">{{title}}</li>
</ol>
<div class="row">
    <div class="col-md-12">
        <section class="widget">
            <header>
                <h5>{{title}}</h5>
            </header>
            
            <div class="widget-body">
                <form class="form-horizontal" role="form">
                    <fieldset>
                        <div class="form-group">
                            <label for="normal-title" class="col-sm-2 control-label">登录名</label>
                            <div class="col-sm-7">
                                <input type="text" id="normal-username" class="form-control" ng-model="d.username">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="normal-realname" class="col-sm-2 control-label">
                                真实姓名
                                <span class="help-block">可为空</span>
                            </label>
                            <div class="col-sm-7">
                                <input type="text" id="normal-realname" class="form-control" ng-model="d.realname">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="normal-password" class="col-sm-2 control-label">
                                密码
                                <span class="help-block">修改用户可不填写</span>
                            </label>
                            <div class="col-sm-7">
                                <input type="password" id="normal-password" class="form-control" ng-model="d.password">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="normal-password2" class="col-sm-2 control-label">
                                确认密码
                            </label>
                            <div class="col-sm-7">
                                <input type="password" id="normal-password2" class="form-control" ng-model="d.password2">
                            </div>
                        </div>

                        <div class="form-group">
                          <label class="col-sm-2 control-label">权限</label>
                          <div class="col-sm-10 ">
                              <div class="checkbox" ng-repeat="i in rbacs">
                                <input type="checkbox" name="rbac" value="{{i.id}}" id="rbac_{{i.id}}"/>
                                <label for="rbac_{{i.id}}">{{i.name}}</label>
                              </div>
                          </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="normal-category">是否开通</label>
                            <div class="col-sm-2 ">
                              <div class="form-control l_select">
                                  <select id="normal-category" class="l_select2" ng-model="status">
                                      <option  value="是">是</option>
                                      <option  value="否">否</option>
                                  </select>
                              </div>
                            </div>
                        </div>
                    </fieldset>
                    <div class="form-actions">
                        <div class="row">
                            <div class="col-sm-offset-4 col-sm-7">
                                <button ng-click="save()" type="submit" class="btn btn-primary">保存</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>


        </section>
    </div>
</div>

<confirm ng-if='openConfirm' title='{{confirm.title}}' txt='{{confirm.txt}}' sure='confirm.sure()' cancel='confirm.cancel()'></confirm>
<alert ng-if='openAlert' txt='{{alert.txt}}' sure='alert.sure()'></alert>
<tip ng-if='openTip' txt={{tip.txt}}></tip>
<loading ng-if='loading'></loading>
