<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
<meta charset="utf-8" />
<title>{$title}</title>
<meta name="keyword" content="{$title}" />
<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=0" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<meta name="msapplication-tap-highlight" content="no">
<meta name="format-detection" content="telphone=no, email=no" />
<link rel="stylesheet" type="text/css" href="/app/res/app/css.css?v=2017060402"/>
</head>
<body>
<div id="loading"><div><a></a></div></div>
<div class="OD">
  <div class="list">
    <h5>¥{$d.price}元</h5>
    <section>
      <a id="chooseWXPay" class="btn1 y">点击支付 <span id="endtime"></span></a>
    </section>
  </div>
</div>
</div>
<script src="__PUBLIC__/res/js/util/jquery-1.11.1.min.js"></script>
<script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
<script type="text/javascript">
$("#loading").hide();

var kk='{$p}',appId='{$appid}';
try{
  kk=eval('('+kk+')');
}catch(e){alert(e);}
wx.config({
  debug:false,
  appId:appId,
  timestamp:'{$signPackage["timestamp"]}',
  nonceStr:'{$signPackage["nonceStr"]}',
  signature:'{$signPackage["signature"]}',
  jsApiList:['chooseWXPay']
});
var oid='{$d.oid}',c=0;
<eq name="pay" value="1">
try{
  var c='{$endtime}';
  function count(){
    if(c>0){
      c--;
      var k=new Date(c*1000).getMinutes()+"分"+new Date(c*1000).getSeconds()+"秒";
      $('#endtime').html('，截至支付还剩 '+k);
      setTimeout('count()',1000);
    }else if(c==0){
      location.reload();
    }
  }
  count();
}catch(e){
  alert(e);
}
setTimeout(function(){
  location.reload();
},30000);
</eq>
wx.ready(function(){
  wx.checkJsApi({
    jsApiList:['chooseWXPay'],
    success:function(res){}
  });
  $('#chooseWXPay').click(function(){
    if($(this).html()=='支付成功'){
      location.href='http://www.weizihui.cn/#!/order_detail/{$d.oid}/1/0';
    }else{
      if(Number(c)>0){
        wx.chooseWXPay({
          timestamp:kk.timeStamp,
          nonceStr:kk.nonceStr,
          package:'prepay_id={$prepay_id}',
          signType:'MD5',
          paySign:kk.paySign,
          success:function(res){
            $("#load").show();
            alert('订单已确认');
            location.href='http://www.weizihui.cn/#!/order_detail/{$d.oid}/1/0';
          }
        });
      }else{
        alert('订单已截止支付');
      }
    }
  });
});

</script>
</body>
</html>