
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1493713818941'); /* IE9*/
  src: url('iconfont.eot?t=1493713818941#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1493713818941') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1493713818941') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1493713818941#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-gouwuche:before { content: "\e602"; }

.icon-home:before { content: "\e7a4"; }

.icon-orders:before { content: "\e69c"; }

.icon-shopcar:before { content: "\e607"; }

.icon-27:before { content: "\e61d"; }

.icon-edit1:before { content: "\e6db"; }

.icon-add:before { content: "\e608"; }

.icon-back:before { content: "\e64c"; }

.icon-jian:before { content: "\e663"; }

.icon-jinlingyingcaiwangtubiao30:before { content: "\e741"; }

.icon-icon13:before { content: "\e627"; }

.icon-edit3:before { content: "\e640"; }

.icon-fuwu-copy:before { content: "\e600"; }

.icon-fuwu:before { content: "\e66f"; }

.icon-fuwu1:before { content: "\e601"; }

.icon-fuwu2:before { content: "\e6a2"; }

